body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    text-align: center;
}

img {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

img[src] {
    display: block;
}

#soundboard {
    display: flex;
    justify-content: space-between;
}

.soundContainer {
    flex-grow: 1;
    width: 50%;
}

#favorites, #remainder {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 0;
}

.soundBite {
    width: 175px;
    height: 175px;
    margin: 5px;
    background-color: lightgray;

    cursor: pointer;
    user-select: none;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.soundSlider {
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.soundName {
    margin: 0;
}

#contextMenu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background-color: darkgray;
}

.item {
    padding: 8px 10px;
}

.item:hover {
    background: #555;
}

.item > i {
    display: inline-block;
    margin-right: 5px;
}

#headerControls {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#headerControls > button {
    margin: 0 10px;
}

@media screen and (min-width: 600px) { /* 500-1000 */
    #soundboard {
        flex-direction: row;
    }

    h2 {
        text-align: center;
    }
}

@media screen and (max-width: 600px) { /* 0-500 */
    #headerControls {
        width: 100%;
        flex-direction: column;
        flex-grow: 1;
    }

    #soundboard, #favorites, #remainder {
        width: 98%;
        margin: 0 1%;
    }

    #soundboard {
        flex-direction: column;
    }
}