body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    text-align: center;
}

#idontknowwhatcallthisdiv {
    text-align: center;
}

#soundBites {
    margin-top: 10px;
    width: 300px;
}

#submitUpload {
    margin-top: 5px;
}