body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#soundboard {
    display: flex;
    margin: 2rem 0;
}

#title {
    text-align: center;
}

#idontknowwhatcallthisdiv {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.stuff {
    margin: 0 10px;
}

.soundBites {
    margin: 0 2rem;
    width: 300px;
    border: 2px darkgray;
}

.soundBite {
    cursor: pointer;
}

#submitUpload {
    margin-top: 5px;
}


@media screen and (min-width: 600px) { /* 500-1000 */
    #soundboard {
        flex-direction: row;
    }

    h2 {
        text-align: center;
    }
}

@media screen and (max-width: 600px) { /* 0-500 */
    #idontknowwhatcallthisdiv {
        width: 100%;
        flex-direction: column;
        flex-grow: 1;
    }

    #soundboard, #favorites, #remainder {
        width: 98%;
        margin: 0 1%;
    }

    #soundboard {
        flex-direction: column;
    }
}